*{
	box-sizing:border-box;
}
body{
	margin:0;
}
.main-header{
	position:fixed;
	top:33px;
	left:0;
	right:0;
	padding:0;
	height:90px;
	display:grid;
	align-items:center;
	z-index:10;
	transition:0.25s;
}

.headerscroll{
	top:0;
	background-color:rgba(0,0,0,0.75);
}

.navbar-brand{
	font-size:26px;
	font-weight:700;
	color:#fff;
}
.navbar-brand:hover{
	color:#fff;
}
.menu__link{
	text-transform:capitalize;
	padding:10px 10px 10px;
	font-size:18px;
	font-weight:600;
	color:#fff;
	letter-spacing:.85px;
}
.menu__link:hover{
	text-decoration:none;
	color:#fbaf32;
}
.menu__link--select{
	color:#fbaf32;
}

.logo i{
	color:#fbaf32;
}

/*----------------estilos del banner----------------------*/
.banner{
	background:url(../img/burger8-1.jpg);
	background-position:center;
	background-size:cover;
	
	position:relative;
	height:310px;
	padding-top:3rem;
	padding-bottom:3rem;
}
.banner:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6);
}
.tittle--banner{
	color:#fff;
	width:90%;
	font-size:50px;
	font-weight:600;
	text-align:center;
	margin-top:50px;
	position:absolute;
	z-index:2;
	top:50%;
	left:50%;
	transform:translatex(-50%) translatey(-50%);
}

/*----------------estilos del nuestro menu----------------------*/
.nuestro--menu{
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
}
.nuestro--menu input{
	display:none;
}
.tabla{
	display:inline-block;
	color:black;
	border:1px solid #ebebeb;
	text-align:center;
	margin:0 10px;
	font-size:20px;
	line-height:25px;
	padding:6px 20px;
	font-weight:600;
	border-radius:6px;
	cursor:pointer;
}
#tab1:checked ~ .burger--tab{
	background:#fbaf32;
	color:#fff;
	border:1px solid #fbaf32;
}
#tab2:checked ~ .snact--tab{
	background:#fbaf32;
	color:#fff;
	border:1px solid #fbaf32;
}
#tab3:checked ~ .bebidas--tab{
	background:#fbaf32;
	color:#fff;
	border:1px solid #fbaf32;
}
.menu--burger{
	padding-bottom:3rem;
}
.menu--bebidas{
	padding-bottom:3rem;
}
.menu--snack{
	padding-bottom:3rem;
}
.img--burger{
	width:100%;
	height:400px;
	object-fit:cover;
	border-radius:6px;
}
.menu--item{
	margin:35px 0;
	font-size:18px;
}
.border--dot{
	padding-bottom:10px;
	border-bottom:2px dotted #bbb;
}
.menu--item-nombre h6{
	font-size:22px;
	line-height:30px;
	font-weight:600;
}
.menu--item-precio h6{
	font-size:1.3em;
	font-weight:600;
	color:#fbaf32;
}
.menu--item-descrip p{
	margin-top:10px;
	
}

/*----------------estilos del footer----------------------*/
.main-footer{
	padding-top:3rem;
	padding-bottom:3rem;
	background:#17181b;
}
.enlace--footer{
	color:#fff;
	font-size:30px;
	font-weight:700;
	text-decoration:none;
}
.enlace--footer:hover{
	text-decoration:none;
	color:#fff;
}
.logo--footer i{
	color:#fbaf32;
}
.main-footer h3{
	color:#fff;
}
.footer--text p{
	color:#aaa;
	font-size:18px;
}
.lista--metodos-pagos{
	margin-top:1.5rem;
	margin-right:0;
}
.lista--metodos-pagos li{
	display:inline-block;
	list-style:none;
}
.pagos--img{
	width:42px;
	height:35px;
	margin-left:2px;
	border-radius:4px;
}


.copy--right{
	background:#1c1d21;
	padding:15px 0;
	text-align:center;
}
.copy--right p{
	color:#aaa;
	margin:0;
	padding:0;
	font-size:18px;
	line-height:28px;
	letter-spacing:.5px;
}